dompdf/lib/fonts/Helvetica-Bold.afm.php
dompdf/lib/fonts/Helvetica-Oblique.afm.php
dompdf/lib/fonts/Helvetica.afm.php
dompdf/lib/fonts/Times-Bold.afm.php
dompdf/lib/fonts/Times-Roman.afm.php
dompdf/lib/fonts/log.htm